{% extends '::base.html.twig' %}

{% block body %}
        <div class="center-block" style="width: 500px">
            <h6 class="">Добавление новости</h6>
            {{ form_start(form, {
                'attr': {
                    'action': path('admin_news_new'),
                    'method': 'post',
                    novalidate: 'novalidate'
                }
            }) }}
            <div class="form-group">
                <label class="form__label">Заголовок</label>
                {{ form_row(form.title, {
                    'attr': {
                        'type':'text',
                        'class':'form__input-field form-control',
                        novalidate: 'novalidate'
                    }
                }) }}
            </div>
            <div class="form-group">
                <label class="form__label">Текст</label>
                {{ form_row(form.text, {
                    'attr': {
                        'class':'news-create form-control',
                        novalidate: 'novalidate'
                    }
                }) }}
            </div>
            <a class="btn btn-info" href="{{ path('admin_news_index') }}">Отмена</a>
            <button class="btn btn-success">Опубликовать</button>
            {{ form_end(form) }}
        </div>
{% endblock %}