{% extends '::base.html.twig' %}

{% block body %}
    <div class="ul-content">
        {% if news %}
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-success" style="padding: 10px;">
                            <p>{{ news.createdAt|date('d-m-Y') }}</p>
                            <a style="font-size: 18px;" href="{{ path('news_detail', {'id': news.id}) }}">
                                {{ news.title }}
                            </a>
                            <p>{{ news.text|raw }}</p>
                            <a href="{{ path('news') }}">Вернуться к списку</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}